// Place all the styles related to the api/brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Bracket Information
.bracket-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px #989898 solid;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
    background: #efefef;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
}

.bracket-information-table {
    margin-top: 20px;
}

.bracket-information-table h2 {
    margin-bottom: 20px;
}

.bracket-information-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.bracket-information-row-update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-bracket {
    margin-left: 20px;
}

// Bracket Create Form
.bracket-create-form-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.bracket-create-form-row h3 {
    margin-bottom: 10px;
}

.bracket-create-row-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}