// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    padding: 10px 30px;
    background: #333
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav h1 {
    margin-right: 20px;
}

.auth-nav {
    display: flex;
    justify-content: space-between;
}

.auth-nav li:first-child {
    margin-right: 30px;
}

.title-nav {
    color: #fff;
}