.white-btn {
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    box-shadow: inset;
    cursor: pointer; 
}

.yellow-btn {
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: #ffcc00;
    color: black;
    cursor: pointer;
}

input[type="text"] {
    width: 60%;
    font-size: 17px;
    padding: 0 5px;
}

input[type="password"] {
    width: 60%;
    font-size: 17px;
    padding: 0 5px;
}