.white-btn {
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    box-shadow: inset;
    cursor: pointer; 
}

.yellow-btn {
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: #ffcc00;
    color: black;
    cursor: pointer;
}